.container {
  height: 100px;
  background-color: #6460F5;
  padding: 16px;
}

.mainText {
  color: white;
}

.subText {
  color: white;
  font-size: x-large;
  font-weight: 400;
}

.nextBtn {
  color: white;
  left: 0;
}